# Ignore object files
*.o

# Ignore static libraries
*.a

# Ignore build directories (if applicable)
build*
out/

# Ignore editor files (e.g., vim, emacs)
*.swp
*.swo
*~

# Ignore IDE specific files (if applicable)
.vscode/
.idea/

bench_detail.log
